#catagory header{
    height: 45px;
    text-align: center;
}
#catagory header input{
    width: 70%;
    height: .45rem;
    margin-top:0.25rem; 
    border-radius: .5rem;
    border: 0;
    border: 1px solid #ccc;
    padding-left: .2rem;
}
#catagory .catagory_wrap .left_list{
    width: 30%;
    float: left;
}
#catagory .catagory_wrap .left_list ul{
    background: #f4f4f4;
    color: #999;
    border-left: 2px solid #f4f4f4;
    text-align: center;
    line-height: .8rem;
    font-size: 0.36rem;
}
#catagory .catagory_wrap .active{
    background: #fff;
    color: #fc4141;
    border-left: 2xp solid #fc4141!important;
}
#catagory .catagory_wrap .rignt_list{
    width: 70%;
    float: right;
}
.tabnav{
    display: flex;
    height: .7rem;
    background: #BFEFFF;
    line-height: .7rem;
}
.tabnav li{
    flex: 1;
    text-align: center;
}
.tabnav li a{
    text-decoration: none;
    color: #000;
}